/* Main Navigation CSS */

#mainNav {
  min-height: 56px;
  background-color: black;
}

/* Understanding your Camera section */

#understandingcamera {
  width: 100%;
  height: auto;
  min-height: 10rem;
  background: #161616;
  border: none; 
}

/* Setting up your Camera section */

#settingupcamera {
  width: 100%;
  height: auto;
  min-height: 50rem;
  padding: 15rem 0;
  padding-top: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("setupcamera.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("setupcamera.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin-left: 0px;
  position: inherit;
}

/* testing out creating an image map of camera */

.map {
  display: inline-block;
  position: relative;
  border-top: 3px solid $gray-lighter;
  border-left: 3px solid $gray-lighter;
  border-bottom: 3px solid $gray-light;
  border-right: 3px solid $gray-light;
}
.overlay {
  cursor: default;
}

span.text-content {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: table;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.map map:hover + span { opacity: 1 }

/* Flex Box to contain information about setting up/prepping camera */

.flex-container {
    position: relative;
    top: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Locating the stars section */

#locatingstars {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 50rem;
  padding: 15rem 0;
  padding-top: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("milkyway.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("milkyway.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin-left: 0px;
}

/* Constellations within a Flexbox - emerge on hover - ideally connect on click/hover */

#bigdipper {
    opacity: 0.4;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

#bigdipper:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

.path {
    stroke-dasharray: 20;
}

/* Breaks between pages */

#blackbg {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 10rem;
  background: #161616;
  border: none;
}

/* Post Processing section */

#postprocessing {
  width: 100%;
  height: auto;
  min-height: 50rem;
  padding: 15rem 0;
  padding-top: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("postprocessing.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("postprocessing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin-left: 0px;
}

/* image slider to show before/after in post processing section */

.image-slider {
	position: relative;
    padding-left: 200px;
    padding-top: 50px;
	display: inline-block;
	line-height: 0;
    align-content: left;
}

.image-slider > div {
	position: absolute;
    padding-left: 200px;
    padding-top: 50px;
	top: 0; bottom: 0; left: 0;
	width: 70px;
	max-width: 100%;
	overflow: hidden;
	resize: horizontal;
}

/* making image slider responsive  */

.image-slider > div:before {
	content: '';
	position: absolute;
	right: 0; bottom: 0; left: -10px;
	width: 13px; height: 13px;
	padding: 10px;
	-webkit-filter: drop-shadow(0 0 2px black);
	filter: drop-shadow(0 0 2px black);
}

.image-slider img {
	user-select: none;
	max-width: 800px;
}

/* Shooting stars - commented out for now to focus on other animations 

#layout { 
  color:#FFF; height:600px; width:100%; height:100%; 
}

.stars {
  z-index: 0; position: absolute;
  background-image: url(stars.jpg);
  background-repeat: repeat-x,repeat-x repeat-y;
  transform:translate3D(0em, 0em, 0);
  animation: stars 1s ease; 
  transform-style: preserve-3d;
}

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}