/* Main Navigation CSS */

#mainNav {
  min-height: 56px;
  background-color: black;
}

/* Understanding your Camera section */

#understandingcamera {
  width: 100%;
  height: auto;
  min-height: 10rem;
  background: #161616;
  border: none; 
}

/* Setting up your Camera section */

#settingupcamera {
  width: 100%;
  height: auto;
  min-height: 50rem;
  padding: 15rem 0;
  padding-top: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("setupcamera.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("setupcamera.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin-left: 0px;
}

.tooltip {
    position: relative;
    display: block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#camerawithhotspots {
    position: relative;
}

#lenshotspot {
    position: absolute;
    top: 25%;
    left: 39%;
    width: 32%;
    height: auto;
    display: none;
}

#lenshotspot:hover {
     display: block;
}

#flashhotspot {
    position: absolute;
    top: 0%;
    left: 43%;
    width: 25%;
    height: auto; 
    opacity: 0;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

#flashhotspot:hover {
     opacity: 1;
}

#modehotspot {
    position: absolute;
    top: 9%;
    left: 30%;
    width: 15%;
    height: auto;
    opacity: 0;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

#modehotspot:hover {
     opacity: 1;
}

#shutterhotspot {
    position: absolute;
    top: 24%;
    left: 26%;
    width: 8%;
    height: auto;
    opacity: 0;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

#shutterhotspot:hover {
     opacity: 1;
}

/* Flex Box to contain information about setting up/prepping camera */

.flex-container {
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Light Pollution section */


#lightpollution {
  position: inherit;
  width: 100%;
  height: 1800px;
  min-height: 50rem;
  padding: 15rem 0;
  padding-top: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("img/darksky.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("darksky.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin-left: 0px;
  padding-left: 0px;
}

#lightpollutionmap {
    width: 1000px; 
    height: 30%;
    min-height: 40rem;
    margin-bottom: 10rem;
    border: none;
}

/* Locating the stars section */

#locatingstars {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 50rem;
  padding: 15rem 0;
  padding-top: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("milkyway.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("milkyway.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin-left: 0px;
}

/* Constellations within a Flexbox - emerge on hover - ideally connect on click/hover */

#bigdipper {
    opacity: 0.4;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

#bigdipper:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

.path {
    stroke-dasharray: 20;
}

/* Breaks between pages */

#blackbg {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 15rem;
  background: #161616;
  border: none;
}

/* Post Processing section */

#postprocessing {
  width: 100%;
  height: auto;
  min-height: 50rem;
  padding: 15rem 0;
  padding-top: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("postprocessing.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("postprocessing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin-left: 0px;
}

/* image slider to show before/after in post processing section */

.image-slider {
	position: relative;
    padding-left: 200px;
    padding-top: 50px;
	display: inline-block;
	line-height: 0;
    align-content: left;
}

.image-slider > div {
	position: absolute;
    padding-left: 200px;
    padding-top: 50px;
	top: 0; bottom: 0; left: 0;
	width: 70px;
	max-width: 100%;
	overflow: hidden;
	resize: horizontal;
}

/* making image slider responsive  */

.image-slider > div:before {
	content: '';
	position: absolute;
	right: 0; bottom: 0; left: -10px;
	width: 13px; height: 13px;
	padding: 10px;
	-webkit-filter: drop-shadow(0 0 2px black);
	filter: drop-shadow(0 0 2px black);
}

.image-slider img {
	user-select: none;
	max-width: 800px;
}

/* Shooting stars - commented out for now to focus on other animations 

#layout { 
  color:#FFF; height:600px; width:100%; height:100%; 
}

.stars {
  z-index: 0; position: absolute;
  background-image: url(stars.jpg);
  background-repeat: repeat-x,repeat-x repeat-y;
  transform:translate3D(0em, 0em, 0);
  animation: stars 1s ease; 
  transform-style: preserve-3d;
}

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}